# --- Project Config ---
COMPOSE_PROJECT_NAME=f1_etl_project

# --- Postgres (Data Warehouse) Config ---
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
POSTGRES_ADMIN_DB=f1_warehouse
# Use an alternate port so it doesn't conflict with other repos (5432)
WAREHOUSE_DB_PORT=5433

# --- Airflow Config ---
AIRFLOW_UID=50000
AIRFLOW_PORT=8081
# Generate a new one in production! (e.g., python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
AIRFLOW_FERNET_KEY=your_fernet_key_here
AIRFLOW__API_AUTH__JWT_SECRET=your_jwt_secret_here
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_DB_USER=postgres
AIRFLOW_DB_PASSWORD=postgres
AIRFLOW_DB_NAME=f1_warehouse

# --- Superset Config ---
SUPERSET_PORT=8089
